! Normal (KRGYBMCW)
*color0:  #111312 
*color1:  #af3b3d
*color2:  #89cfac
*color3:  #e9b143
*color4:  #317d89
*color5:  #df8390
*color6:  #86d1d4
*color7:  #b7b7b7

! Bright
*color8:  #253435
*color9:  #e18a86
*color10: #b3eece
*color11: #ffdb94
*color12: #90c2c1
*color13: #fcb9c5
*color14: #b8edf2
*color15: #e4dfda
