configuration {
	font: "Monospace 14";

	location: 0;

	fixed-num-lines: true;
	scroll-method: 1;	/* Continuous scrolling */

	show-icons: true;
	icon-theme: "hicolor";
	drun-display-format: "{name}";

	timeout {
		action: "kb-cancel";
		delay:  0;
	}

	filebrowser {
		directories-first: true;
		sorting-method: "name";
	}

	icon {
		theme: "hicolor";
	}
}

@import "theme.rasi"
